numpy>=1.13.0
scipy>=1.1.0
pillow>=5.0.0
six>=1.11.0
tifffile>=2019.1.1
opencv-python>=3.2.0.6
torch>=1.0.0
torchvision>=0.2.0
yacs>=0.1.6
click>=7.0.0
./wheels/GDAL-3.3.1-cp38-cp38-win_amd64
./wheels/Fiona-1.8.20-cp38-cp38-win_amd64
./wheels/rasterio-1.2.6-cp38-cp38-win_amd64
geopandas
tqdm>=4.30.0
tensorboard
pytorch-ignite
