numpy>=1.13.0
scipy>=1.1.0
pillow>=5.0.0
six>=1.11.0
tifffile>=2019.1.1
opencv-python>=3.2.0.6

# --- commented out for bdist_wheel, uncomment when installing via pip --- # --find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cu111
torchvision==0.10.0+cu111

yacs>=0.1.6
click>=7.0.0
GDAL==3.3.1
Fiona==1.8.20
rasterio==1.2.6
geopandas
tqdm>=4.30.0
tensorboard
pytorch-ignite
